header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    justify-content: center;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cvb{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
}

/* ============ MEDIA QUERIES (MED) ================*/

@media screen and (max-width: 1024px){
    .header{
        height: 68vh;
    }
}

/* ============ MEDIA QUERIES (SMALL) ================*/

@media screen and (max-width: 600px){
    .header{
        height: 100vh;
    }
}